doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
    script(src="//unpkg.com/axios@0.18.0/dist/axios.min.js")
    script
      :coffee-script
        #axios.get "https://herokuuuuu-test.herokuapp.com/"
        #.then (rs)->console.log rs
        axios.post "https://herokuuuuu-test.herokuapp.com/"
        .then (rs)->console.log rs
  body
